.Four0Four-img {
  height: 50%;
  margin-top: 40%;
  box-shadow: none;
}

.heading {
  font-size: 120px;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 50%;
  margin-bottom: 26%;
  padding-bottom: 0%;
}

.heading-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

